.root-link {
    cursor: pointer;
}

#root-list .sort:before {
    content: '↕\a0';
}

#root-list .sort {
    cursor: pointer;
}

#root-list table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#root-list td, #root-list th {
    border: 1px solid #ddd;
    padding: 2px;
}

#root-list tr:nth-child(even){
    background-color: #f2f2f2;
}

#root-list tr:hover {
    background-color: #ddd;
}

#root-list th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
